@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style-type: none !important;
    text-decoration: none !important;
}

/* pre-loader////////// */

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

.loader {
    animation: fade-in-down 3s ease infinite;
}

.max-500 {
    max-width: 500px !important;
}

@-webkit-keyframes honeycomb {

    0%,
    20%,
    80%,
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes honeycomb {

    0%,
    20%,
    80%,
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.honeycomb {
    height: 24px;
    position: relative;
    width: 24px;
}

.honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: var(--green);
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
}

.honeycomb div:after,
.honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
}

.honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid var(--green);
}

.honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid var(--green);
}

.honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
}

.honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
}

.honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
}

.honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
}

.honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
}

.honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
}

.honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
}


@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* -------------------root---------------- */
:root {
    --fs-28: 28px;
    --fs-16: 16px;
    --fs-64: 64px;
    --fs-48: 48px;
    --fs-20: 20px;
    --fs-36: 36px;
    --fs-24: 24px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-10: 10px;
    /* ----------color----- */
    --color-white: #ffffff;
    --color-242451: #242451;
    --color-3137C1: #3137C1;
    --color-140D1B: #140D1B;
    --color-010101: #010101;
    --color-white2: #FAFAFA;
    --color-75758E: #75758E;
    --color-191A43: #191A43;
    --color-2B294C: #2B294C;


    --color-liner: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
}

.ff-sans {
    font-family: sans-serif;
}

.logo-text {
    font-family: "Racing Sans One", sans-serif;
    font-size: var(--fs-22);
    font-weight: 400;
    line-height: 35.7px;
    color: white;

}

.bg-blue {
    background-color: var(--color-242451);
}

.menulist {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white);
}

.nav-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    color: var(--color-white);
    background: var(--color-liner);
    width: 190px;
    height: 52px;
    border-radius: 60px;
    border: none;
    margin-left: 5px;

}

.nav-btn:hover {
    transform: scale(0.8);
    transition: all 0.3s linear;
}

.background {
    background-image: url(../image/png/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.tokenized {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-64);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
    color: var(--color-white);
}

.travel {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
    color: var(--color-white);
}

.pt-16 {
    padding-top: 6rem;
}

.card2 {
    border: 1px solid var(--color-75758E);
    background-color: var(--color-191A43);
    max-width: 930px;
    width: 100%;
    z-index: 10;
    position: relative;
    margin-top: 20px;
    border-radius: 16px;
    padding: 30px;
}

.lists {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white);
    text-wrap: nowrap;
}

.going {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    color: var(--color-white);
}

.location-parent {
    border-radius: 8px;
    border: 1px solid var(--color-75758E);
    width: 452px;
    height: 48px;
    padding: 10px;
    background-color: var(--color-2B294C);
}

.location-parent2 {
    width: 180px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-75758E);
    padding: 9px;
    background-color: var(--color-2B294C);
}

.going2 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    color: var(--color-white);
}

.going-check {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-10);
    font-weight: 300;
    line-height: 15px;
    color: var(--color-white);
}

.room-1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21px;
    color: var(--color-white);
    padding-bottom: 10px;
}

/*  */
.input_2 {
    /* max-width: 180px; */
    border-radius: 8px;
    border: 1px solid var(--grey3);
    background: var(--black2);
    padding: 5px 10px 7px 10px;

}

.form-group {
    display: block;
    margin-bottom: 30px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: "";
    background-color: transparent;
    border: 0.6px solid #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    top: 0px;
}

.form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: 0.6px solid #FFFFFF;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.flight {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    color: var(--color-white);
}

.search-btn {
    font-family: "Poppins", sans-serif;
    font-size: var();
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    width: 122px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-liner);
    border: none;
    margin-top: 34px;
}

.search-btn:hover {
    transform: scale(0.8);
    transition: all 0.3s linear;
}

.about {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-48);
    font-weight: 400;
    line-height: 56.4px;
    color: var(--color-white);
}

.building {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    color: var(--color-white);
}

.creating {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    color: var(--color-white);
}

.bg-color {
    background-color: var(--color-140D1B);
}

.reward-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    color: var(--color-white);
    background: var(--color-liner) !important;
    width: 167px;
    height: 52px;
    border-radius: 60px;
    border: none;
    margin-top: 40px !important;
}

.reward-btn:hover {
    transform: scale(0.8);
    transition: all 0.3s linear;
}

.mt-24 {
    margin-top: 24px;
}

.h-120 {
    height: 120%;
}

.popular {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-48);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
    color: var(--color-white);
}

.popular-destinations {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-48);
    color: var(--color-white);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
}

.pt-105 {
    padding-top: 105px !important;
}

.img-box,
.img-box img,
.blur-text {
    border-radius: 13px;
    transition: all 300ms linear;
}

.img-box:hover img {
    scale: 1.1;
}

.img-box:hover .blur-text {
    opacity: 100%;
    z-index: 1;
}


.img-box {
    height: 100%;
}

.blur-text {
    background: #01010140;
    width: 253px;
    height: 44px;
    border-radius: 42px;
    place-items: center;
    top: 12px;
    left: 12px;
    z-index: -1;
    backdrop-filter: blur(10px);
    opacity: 0%;
    color: var(--color-white);
}

.img-box:hover .blur-text {
    opacity: 100%;
    z-index: 1;
}

.mt-24 {
    margin-top: 24px;
}

.mt-22 {
    margin-top: 22px;
}

.text-4 {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-48);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
    color: var(--color-white);
}

.bottom-20 {
    bottom: 20px !important;
}

.top-120 {
    top: 120%;
}

.dollor {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-24);
    font-weight: 400;
    line-height: 28.2px;
    color: var(--color-white);
}

.dollor2 {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-24);
    font-weight: 400;
    line-height: 28.2px;
    color: var(--color-75758E);
    text-decoration: line-through !important;
}

.border-rad {
    border-radius: 13px 13px 0 0 !important;
}

.child-slider-2 {
    background: #1219D233;
    border-radius: 13px;

}

.fringilla {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
    line-height: 27.3px;
    color: var(--color-white);
}

.offer-2 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    color: var(--color-white);
    width: 123px;
    height: 44px;
    border-radius: 42px;
    backdrop-filter: blur(10px) !important;
    opacity: 20 !important;
}

.bg-img {
    background-image: url(../image/png/layerimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-160 {
    padding-top: 160px;
}

.money {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 28.2px;
    text-align: left;
    color: var(--color-white);
}

.hide {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 28.2px;
    text-align: left;
    color: var(--color-75758E);

}

.forty {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    color: var(--color-white);
}



.bluebox {
    background: #141044;
    padding: 15px;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.corner {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.txt {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 27.3px;
    text-align: left;
    color: var(--color-white);
    margin-top: 24px;
}

/* the slides */
.slick-slide {
    margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}

slick-track {
    display: flex;
    gap: 20px;
}

.slick-dots li.slick-active {
    background: var(--color-191A43);
    width: 60px;
}

.slick-dots li button:before {
    content: unset;
}

.slick-dots li {
    content: unset;
    width: 28px;
    height: 12px;
    background: var(--color-white);
    /* margin: 7px; */
    border-radius: 21px;
    transition: all 300ms linear;
}

.slick-next:before {
    display: none;
}

.slick-dots {
    position: absolute;
    bottom: -44px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-prev:before {
    display: none;
}

.fifty {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.off {
    width: 123px;
    height: 44px;
    top: 16px;
    left: 16px;
    padding: 10px 28px 10px 28px;
    gap: 10px;
    border-radius: 42px;
    background: #01010140;
    backdrop-filter: blur(10px);

}

.travel-text {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42.3px;
    text-align: center;
    color: var(--color-white);
}

.max-taxt {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 8px;
    color: var(--color-white) !important;
}

.max-text1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #D2D1E1 !important;
    padding-top: 8px;

}

.travel-card {
    background: rgba(18, 25, 210, .1);
    padding: 30px 50px 48px 50px;
    border-radius: 20.69px;

}

.-mt-9 {
    margin-top: -9px !important;
}

.line-1 {
    width: 64px;
    height: 0px;
    background: #696CDF !important;
    display: flex;
}

.line-parent {
    height: 64px;
    width: 6px;
    background: #696CDF;
}

.line-parent1 {
    height: 64px;
    width: 6px;
    background: #5C368A;
}

.line-parent2 {
    height: 64px !important;
    width: 6px !important;
    background: #E66E9A;
}

.line-parent4 {
    height: 64px !important;
    width: 6px !important;
    background: #D1B35E;
}

.line-parent5 {
    height: 64px !important;
    width: 6px !important;
    background: #98DAB3;
}

.frams {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    color: #D0CFDE;
    max-width: 136px;

}

.mt-35 {
    margin-top: 35px;
}

.ml-92 {
    margin-left: 92px;
}

.gap-110 {
    gap: 110px;
}

.frams-2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    color: var(--color-white) !important;
    max-width: 91px;
}

.darlene {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-24);
    font-weight: 400;
    line-height: 36px;
    color: var(--color-white);
}

.ceo {
    color: #CDD1DE;
    font-family: Poppins;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;

}

.bg-b {
    background: #140F40;
}

.child-slider9 {
    width: 367px;
    height: 476px;
    border-radius: 13px !important;
}

.childslider {
    width: 367px;
    height: 500px;

}

.slimg {
    border-radius: 13px 13px 0 0;
}

/* --------------------accc------------- */


.max-w-564 {
    max-width: 564px;
}

.accordion-body {
    padding-left: 0;
    padding-right: 0;
}

.accordion-button {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: var(--color-white);
}

.accordion-button::after {
    content: url(../image/svg/Vector.svg);
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.top-20 {
    top: 20%;
}

.img-1 {
    box-shadow: -2px -2px 2px 0px #0000004D inset;
    border-radius: 50%;
    box-shadow: 2px 2px 3px 0px #FFFFFF inset;
}

.accordion-heading {
    padding: 20px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nft {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-24);
    font-weight: 600;
    line-height: 32.69px;
    text-align: left;
}

.text-1 {
    font-family: "Noto Serif", serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.p-20 {
    padding: 20px;
}

.accordion {
    position: relative;
    overflow: hidden;
    /* border-top: 2px solid #000000; */
}

.text-p {
    position: absolute;
    top: -600%;
    left: 0%;
    transition: all 0.3s ease-in-out;
}

.acc-icon {
    position: relative;
    display: flex;
    cursor: pointer;
}

.line1 {
    display: flex;
}

.line2 {
    display: none;
}

.max-w-561 {
    max-width: 561px;
}

.max-w-564 {
    max-width: 564px;
}

.accordion-button:not(.collapsed) {
    background: transparent;
    color: var(--color-white);

}

.footer-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 25.6px;
    color: #AFAFAF;
    padding-top: 26px;
}

.acc-head {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: var(--color-white);
}

.adders {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 25.6px;
    color: #C8C8C8;
}
.appss:hover{
    transform: rotate(360deg);
    transition: all linear 0.4s;
    
}
.appss{
    width: fit-content;
}

.list-footer {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 25.6px;
    color: var(--color-white);
}

.f-links {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 25.6px;
    color: #C8C8C8;
    width: fit-content;
}

.acc-txt {
    color: #B5B3B7;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/svg/down.png);
}

.accordion-button::after {
    background-image: url(../images/svg/down.png);
    background-repeat: no-repeat;
}

.accordion-button {
    background: transparent;
    color: var(--color-white);
    padding: 0;
    align-items: center;
}

.accordion-item {
    background: #140D1B;
}

.accordion-body {
    padding: 0;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion {
    --bs-accordion-border-color: none;
    max-width: 749px;
    margin-left: auto;
    margin-right: auto;
}

.border_bottom {
    border-bottom: 2px solid #E9EBED;
    margin-bottom: 16px;
}

.max-w-438 {
    max-width: 438px;
}

.acc-active {
    .text-p {
        position: unset;
    }

    .line2 {
        display: flex;
    }

    .line1 {
        display: none;
    }

    transition: all 400ms ease-in-out;
    animation: 3s rotate infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}





@media (min-width:992px) {
    .mt-22 {
        margin-top: 22px !important;
    }

    .mt-lg-24 {
        margin-top: 20px;
    }
}

@media (max-width:992px) {
    /* .mt-lg-24 {
        margin-top: 20px;
    } */

}

@media (min-width:576px) {
    .logo-text {
        font-size: var(--fs-28);
    }

    .nav-btn {
        font-family: "Poppins", sans-serif;
        font-size: var(--fs-16);
        font-weight: 600;
        line-height: 24px;
        color: var(--color-white);
        background: var(--color-liner);
        width: 190px;
        height: 52px;
        border-radius: 60px;
        border: none;

    }

    .nav-btn:hover {
        transform: scale(0.8);
        transition: all 0.3s linear;
    }


}

@media (max-width:768px) {
    .mt-md-24 {
        margin-top: 24px;
    }
}

@media (max-width: 991.9px) {
    .mobile_view {
        position: fixed;
        height: 108vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        /* backdrop-filter: blur(90px); */
        background-color: var(--color-242451);
        z-index: 30;
    }

    .menu_1 {
        z-index: 50;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu_1 span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--color-white);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--color-white);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--color-white);
        display: block;
        border-radius: 30px;
    }

    .menu_1 span {
        transition: all 400ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
        background-color: var(--color-white);
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
        background-color: var(--color-white);
    }

    .right {
        left: 0;
    }

    .flex-col {
        flex-direction: column;
    }
}
@media (min-width:992px) {
.gap-110-lg{
    gap: 110px;
}
    
}